* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

html {scroll-behavior: smooth;}

a {text-decoration: none;}

ul {list-style: none;}
body {background-color: rgb(7, 2, 0);}

.logo {
    text-align: center;
    color: rgb(233, 234, 255);
    text-shadow:
        0 0 7px rgb(182, 164, 255),
        0 0 10px rgb(182, 164, 255),
        0 0 21px rgb(182, 164, 255),
        0 0 42px rgb(182, 164, 255),
        0 0 82px rgb(182, 164, 255),
        0 0 92px rgb(182, 164, 255),
        0 0 102px rgb(182, 164, 255),
        0 0 151px rgb(182, 164, 255);
}
.logo2-text {
    text-align: center;
    color: rgb(147, 255, 143);
    text-shadow:
        0 0 7px rgb(75, 243, 108),
        0 0 10px rgb(75, 243, 108),
        0 0 21px rgb(75, 243, 108),
        0 0 42px rgb(75, 243, 108),
        0 0 82px rgb(75, 243, 108),
        0 0 92px rgb(75, 243, 108),
        0 0 102px rgb(75, 243, 108),
        0 0 151px rgb(75, 243, 108);
        font-size: 3em;
}

.logo-text {
    font-size: 3em;
}

.banner{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: sans-serif;
    z-index: 8;
    margin-top: 100px;
}

.banner h1 {
    color: rgb(147, 255, 143);
    text-shadow:
        0 0 7px rgb(75, 243, 108),
        0 0 10px rgb(75, 243, 108),
        0 0 21px rgb(75, 243, 108),
        0 0 42px rgb(75, 243, 108),
        0 0 82px rgb(75, 243, 108),
        0 0 92px rgb(75, 243, 108),
        0 0 102px rgb(75, 243, 108),
        0 0 151px rgb(75, 243, 108);
        font-size: 2em;
}

.section2 .banner2{
    height: 170px;
    width: 600px;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.7);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    z-index: 8;
    margin-top: 70px;
}